<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>Form</title>

        <!-- CSS -->
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- Form -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

        <!-- JavaScript -->
        <!-- jQuery -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <!-- Bootstrap -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>

    <body>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <nav class="navbar navbar-m2p sidebar" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        PA Cyber<b> Stats</b>
                    </a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <!-- Time Series -->
                        <li class="">
                          <a href="#">
                              <span class="pull-right hidden-xs showopacity glyphicon glyphicon-time"></span> Time Series Analysis
                          </a>
                        </li>
                        <!-- Linear Regression -->
                        <li class="">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="menu-icon pull-right hidden-xs showopacity glyphicon glyphicon-signal"></span>
                                Linear Regression <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu forAnimate" role="menu">
                                <li><a href="#"><i class="material-icons"></i> 3rd</a></li>
                                <li><a href="#"><i class="material-icons"></i> 4th</a></li>
                                <li><a href="#"><i class="material-icons"></i> 5th</a></li>                      
                            </ul>
                        </li>
        
                        <!-- Decision Tree -->
                        <li class="">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="menu-icon pull-right hidden-xs showopacity glyphicon glyphicon-tree-conifer"></span>Decision Tree 
                            </a>
                            
                        </li>
                        <!-- Naive Bayes Analysis-->
                        <li class="">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="menu-icon pull-right hidden-xs showopacity glyphicon glyphicon-equalizer"></span>
                                Naive Bayes Analysis <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu forAnimate" role="menu">
                                <li><a href="#"><i class="material-icons"></i> Algebra</a></li>
                                <li><a href="#"><i class="material-icons"></i> Biology</a></li>
                                <li><a href="#"><i class="material-icons"></i> Literature</a></li>                      
                              
                            </ul>
                        </li>
                        <!-- K Means Nearest Neighbor-->
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span style="font-size:26px;" class="pull-right hidden-xs showopacity glyphicon material-icons">group</span>
                                K Means Nearest Neighbor <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu forAnimate" role="menu">
                                <li><a href="#"> <i class="material-icons"></i> 9th</a></li>
                                <li><a href="#"> <i class="material-icons"></i> 10th</a></li>
                                <li><a href="#"> <i class="material-icons"></i> 11th</a></li>
                                <li><a href="#"> <i class="material-icons"></i> 12th</a></li>                      
                            </ul>
                        </li>
                        <li class="separator">System</li>
                        <!-- Users -->
                        <li class="#">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="menu-icon pull-right hidden-xs showopacity glyphicon glyphicon-user"></span>
                                Users <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu forAnimate" role="menu">
                                <li><a href="#"><i class="material-icons">add</i> Add</a></li>
                                <li><a href="#"><i class="material-icons">sort</i> List</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </body>
</html>    
    
    
    
