{% macro render_entry(entry) %}
<div class="row">
    <div class="col-md-12 text-right metadata">
        <ul class="list-unstyled">
            <li>
            {{ entry.Subject }}
            {{ entry.PASecureID }}
            {{ entry.state_subject_year }}
            {{ entry.Local_Student_ID }}
            {{ entry.PVAAS }}
            {{ entry.Grade }}
            {{ entry.Tested_Year }}
            {{ entry.PASA_Record }}
            {{ entry.Ethnicity_Code }}
            {{ entry.IEP }}
            {{ entry.Economically_Disadvantaged }}
            {{ entry.Historically_Underperforming_Subgroup }}
            {{ entry.Scaled_Score }}
            {{ entry.Performance_Level_Code }}
            {{ entry.Performance_Level_Name }}
            {{ entry.Total_Raw_Score }}
            {{ entry.MultipleChoice_Raw_Score }}
            {{ entry.OpenEnded_Raw_Score }}
            {{ entry.Reporting_Category_1_Raw_Score }}
            {{ entry.Anchor_1_1 }}
            {{ entry.Anchor_1_2 }}
            {{ entry.Anchor_1_3 }}
            {{ entry.Anchor_1_4 }}
            {{ entry.Reporting_Category_2_Raw_Score }}
            {{ entry.Anchor_2_1 }}
            {{ entry.Anchor_2_2 }}
            {{ entry.Anchor_2_3 }}
            {{ entry.Anchor_2_4 }}
            {{ entry.Reporting_Category_3_Raw_Score }}
            {{ entry.Anchor_3_1 }}
            {{ entry.Anchor_3_2 }}
            {{ entry.Anchor_3_3 }}
            {{ entry.Anchor_3_4 }}
            {{ entry.Reporting_Category_4_Raw_Score }}
            {{ entry.Anchor_4_1 }}
            {{ entry.Anchor_4_2 }}
            {{ entry.Anchor_4_3 }}
            {{ entry.Anchor_4_4 }}
            {{ entry.Reporting_Category_5_Raw_Score }}
            {{ entry.Anchor_5_1 }}
            {{ entry.Anchor_5_2 }}
            {{ entry.Anchor_5_3 }}
            {{ entry.Anchor_5_4 }}
            {{ entry.Reporting_Category_6_Raw_Score }}
            {{ entry.Anchor_6_1 }}
            {{ entry.Anchor_6_2 }}
            {{ entry.Anchor_6_3 }}
            {{ entry.Anchor_6_4 }}
            {{ entry.Reporting_Category_7_Raw_Score }}
            {{ entry.Anchor_7_1 }}
            {{ entry.Anchor_7_2 }}
            {{ entry.Anchor_7_3 }}
            {{ entry.Anchor_7_4 }}
            {{ entry.Reporting_Category_8_Raw_Score }}
            {{ entry.Anchor_8_1 }}
            {{ entry.Anchor_8_2 }}
            {{ entry.Anchor_8_3 }}
            {{ entry.Anchor_8_4 }}
            {{ entry.Reporting_Category_9_Raw_Score }}
            {{ entry.Anchor_9_1 }}
            {{ entry.Anchor_9_2 }}
            {{ entry.Anchor_9_3 }}
            {{ entry.Anchor_9_4 }}
            {{ entry.Reporting_Category_10_Raw_Score }}
            {{ entry.Anchor_10_1 }}
            {{ entry.Anchor_10_2 }}
            {{ entry.Anchor_10_3 }}
            {{ entry.Anchor_10_4 }}
            {{ entry.Reporting_Category_1_Strength_Profile }}
            {{ entry.Reporting_Category_2_Strength_Profile }}
            {{ entry.Reporting_Category_3_Strength_Profile }}
            {{ entry.Reporting_Category_4_Strength_Profile }}
            {{ entry.Reporting_Category_5_Strength_Profile }}
            {{ entry.Reporting_Category_6_Strength_Profile }}
            {{ entry.Reporting_Category_7_Strength_Profile }}
            {{ entry.Reporting_Category_8_Strength_Profile }}
            {{ entry.Reporting_Category_9_Strength_Profile }}
            {{ entry.Reporting_Category_10_Strength_Profile }}
            {{ entry.Gender }}
            {{ entry.Title_I }}
            {{ entry.enrolled_after_Oct_1st }}
            {{ entry.enrolled_between_Octobers }}


            </li>
        </ul>
    </div>
</div>

{% endmacro %}


